/* Globals */

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--white: #ffffff;
	--dark: #364153;
	--yellow: #ffc107;
	--red: #fb2c36;
	--green: #00c950;

	--light-rose: #ff2056;
	--light-text: #f3f4f6;
	--dark-text: #6a7282;
	--dg-body: #f1f5f9;

	/*Rgba*/
	--light-rose-rgba: 255, 32, 86;
}

/* El proyecto utiliza rems:
Por defecto, este tama침o es de 16px, por lo que 1rem = 16px.  Si el usuario cambia el tama침o de fuente en el navegador, todos los valores en rem se escalan proporcionalmente, mejorando la accesibilidad y el dise침o responsivo.
 */

html {
	font-size: 62.5%;
	/*Con esto 1rem = 10px*/
}

body {
	font-size: 1.6rem;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	display: inline-block;
}

h2 {
    font-size: clamp(3.6rem, 6vw, 5rem);
}

/* Utilities */

.container {
	width: min(95%, 128rem);
	margin: 0 auto;
}

.no-copy {
	/*no permite la copia del elemento*/
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}


/* Hero */
.hero-container {
	position: relative;
	height: 80vh;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	overflow: hidden;
}

.hero-container::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.3);
	pointer-events: none;
	z-index: -1;
}

.hero-bg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -2;
}

/* Header */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 4rem;
}
.header p {
	font-size: 3.6rem;
	color: var(--white);
	font-weight: 700;
}

.header span {
	font-weight: 400;
}

.nav {
	position: relative;
}

.nav li i {
	font-size: 4rem;
	color: var(--white);
}

.nav li span {
	position: absolute;
	top: -0.8rem;
	left: -2.2rem;
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--light-rose);
	border-radius: 50%;
	text-align: center;
	line-height: 2.5rem;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.05);
	color: var(--white);
}
/* Hero info */

.hero-info {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	gap: 2rem;
}

.hero-info h1 {
	font-size: clamp(4.2rem, 6vw, 6.4rem);
	color: var(--light-text);
}

.hero-info a {
	background-color: var(--light-rose);
	padding: 1rem 4rem;
	border-radius: 3rem;
	color: var(--white);
	font-size: 2rem;
	font-style: italic;
	transition: background-color 0.2s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    /*Detecta si hay un puntero en dispositivos m칩viles para ejecutar el hover*/
	.hero-info a:hover {
		background-color: color-mix(in srgb, var(--light-rose), black 20%);
	}
}

/* Top Banner */

.top-banner {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--light-rose);
}

.top-banner h2{
    color: var(--light-text);
}

.top-banner p {
    color: var(--white);
    font-size: 2rem;
}

.top-banner a {
    color: var(--white);
    font-size: 2rem;
    font-style: italic;
    text-decoration: underline;
}

.custom-shape-divider-bottom-1771653877 {
    position: absolute;
    bottom: -6rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(360deg);
}

.custom-shape-divider-bottom-1771653877 svg {
    position: relative;
    display: block;
    width: calc(166% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1771653877 .shape-fill {
    fill: var(--light-rose);
}